body {
    font-family:Arial, sans-serif;
    background-color:#f4f6f9;
    margin:0;
    padding:20px;
    color:#333;
}
h1, h2, h3 {
    color:#222;
    margin-bottom:10px;
    text-align:center;
}
button {
    background-color:#007bff;
    color:white;
    border:none;
    padding:8px 16px;
    margin-top:10px;
    cursor:pointer;
    border-radius:4px;
    font-size:14px;
    
}
button:hover {
    background-color:#0056b3;
}
input, select {
    width:85%;
    margin:5px 0 10px 0;
    padding:6px 10px;
    width:1250px;
    border-radius:4px;
    border:1px solid #ccc;
    font-size:14px;
}
#busList, #seatBox, #passengerBox, #paymentBox, #confirmBox, #adminPanel{
    background-color:#fff;
    padding:20px;
    margin-top:20px;
    border-radius:6px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}
.admin-bus {
    padding:10px;
    border-bottom:1px solid #ddd;
}

.admin-bus:last-child {
    border-bottom:none;
}
.bus-card{
    display:flex;
    align-items:center;
    background:white;
    width:420px;
    margin:15px auto;
    padding:12px;
    border-radius:8px;
    box-shadow:0 0 8px rgba(0,0,0,0.12);
}
.bus-img{
    width:400px;
    height:350px;
    object-fit:cover;
    border-radius:8px;
    margin-right:12px;
}
.bus-info{
    text-align:left;
    flex:1;
}
.bus-info b{
    font-size:16px;
}
#seatLayout{
    display:grid;
    grid-template-columns:repeat(4, 55px);
    gap:10px;
    justify-content:left;
    margin:15px 0;
}
.seat-row{
    display:flex;
    align-items:center;
    margin-bottom:10px;
}
.seat{
    width:45px;
    height:45px;
    background:#e0e0e0;
    line-height:45px;
    border-radius:6px;
    cursor: pointer;
    margin:5px;
    text-align:center;
    font-weight:bold;
}
.seat.selected{
    background:#4caf50;
    color:white;
}
.aisle{
    width:40px;
}
#passengerBox h3 {
    margin-bottom:5px;
    margin-top: 15px;
}

hr {
    border:0;
    border-top:1px solid #eee;
    margin:10px 0;
}
#paymentBox select {
    width:225px;
}
#confirmBox {
    line-height:1.6;
}

#confirmBox span {
    font-weight:bold;
}

#confirmBox h2 {
    color:#28a745;
}
#adminPanel input {
    width: 1250px;
}